<div data-box="paths">
	<div class="box-content-wrapper">
		<div class="box-content-list">
			<!--
			<div class="row">
				<div class="thumbnail"><canvas></canvas></div>
				<div class="name">Name of path</div>
			</div>
			-->
		</div>
	</div>

	<div class="box-foot right">
		<div class="icon icon-layer-path-fill disabled"></div>
		<div class="icon icon-layer-path-brush disabled"></div>
		<div class="icon icon-layer-path-from-selection disabled"></div>
		<div class="icon icon-selection-ring disabled"></div>
		<div class="icon icon-layer-mask disabled"></div>
		<div class="icon icon-new"></div>
		<div class="icon icon-trashcan disabled"></div>
	</div>
</div>
