<div data-box="color">
	<div class="color-wrapper">
		<div class="values">

			<div class="field">
				<div class="option input">
					<span class="label">H</span>
					<span class="value"><input type="text" value="135"></span>
				</div>
			</div>

			<div class="field">
				<div class="option input">
					<span class="label">S</span>
					<span class="value"><input type="text" value="100%"></span>
				</div>
			</div>

			<div class="field">
				<div class="option input">
					<span class="label">L</span>
					<span class="value"><input type="text" value="50%"></span>
				</div>
			</div>

		</div>
		<div class="wheel-object scale" style="--color: #f00; --rotation: rotate(0deg);">
			<div class="color-wheel">
				<div class="color-triangle">
					<div class="color-dot"></div>
				</div>
			</div>
		</div>
	</div>
</div>
