<div data-box="channels">
	<div class="box-content-wrapper">
		<div class="box-content-list">
					
			<div class="row active1">
				<div class="thumbnail" style="background-image: url(~/dev/sample-1.jpg);"></div>
				<div class="name">RGB</div>
				<div class="icon eye" style="background-image: url(~/icons/icon-eye-on.png);"></div>
				<div class="fx-applied"></div>
			</div>
					
			<div class="row active1">
				<div class="thumbnail" style="background-image: url(~/dev/sample-1.jpg);"></div>
				<div class="name">Red</div>
				<div class="icon eye" style="background-image: url(~/icons/icon-eye-on.png);"></div>
				<div class="fx-applied"></div>
			</div>
					
			<div class="row active1">
				<div class="thumbnail" style="background-image: url(~/dev/sample-1.jpg);"></div>
				<div class="name">Green</div>
				<div class="icon eye" style="background-image: url(~/icons/icon-eye-on.png);"></div>
				<div class="fx-applied"></div>
			</div>
					
			<div class="row active1">
				<div class="thumbnail" style="background-image: url(~/dev/sample-1.jpg);"></div>
				<div class="name">Blue</div>
				<div class="icon eye" style="background-image: url(~/icons/icon-eye-on.png);"></div>
				<div class="fx-applied"></div>
			</div>
		</div>
	</div>

	<div class="box-foot right">
		<div class="icon disabled" style="background-image: url(~/icons/icon-layer-mask.png);"></div>
		<div class="icon disabled" style="background-image: url(~/icons/icon-folder.png);"></div>
		<div class="icon" style="background-image: url(~/icons/icon-new.png);"></div>
		<div class="icon disabled" style="background-image: url(~/icons/icon-trashcan.png);"></div>
	</div>
</div>
