<div data-box="color">
	<div class="color-wrapper">
		<div class="configs">

			<div>
				<div class="field">
					<div class="group">
						<div class="active" data-click="show-hsl-values">HSL</div>
						<div data-click="show-rgb-values">RGB</div>
					</div>
					<div class="group">
						<div class="active" data-click="color-wheel-triangle">
							<div class="icon" style="background-image: url(~/icons/icon-triangle.png);"></div>
						</div>
						<div data-click="color-wheel-rectangle">
							<div class="icon" style="background-image: url(~/icons/icon-rectangle.png);"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="color-values show-hsl">
				<div class="field field-hsl">
					<div class="option input">
						<span class="label">H</span>
						<span class="value"><input type="text" value="135°"></span>
					</div>
				</div>
				<div class="field field-hsl">
					<div class="option input">
						<span class="label">S</span>
						<span class="value"><input type="text" value="100%"></span>
					</div>
				</div>
				<div class="field field-hsl">
					<div class="option input">
						<span class="label">L</span>
						<span class="value"><input type="text" value="50%"></span>
					</div>
				</div>

				<div class="field field-rgb">
					<div class="option input">
						<span class="label">R</span>
						<span class="value"><input type="text" value="127"></span>
					</div>
				</div>
				<div class="field field-rgb">
					<div class="option input">
						<span class="label">G</span>
						<span class="value"><input type="text" value="10"></span>
					</div>
				</div>
				<div class="field field-rgb">
					<div class="option input">
						<span class="label">B</span>
						<span class="value"><input type="text" value="231"></span>
					</div>
				</div>
			</div>

			<div>
				<div class="field">
					<div class="option input">
						<span class="label">Hex</span>
						<span class="value">
							<span class="prefix">#</span>
							<input type="text" value="FF0000">
						</span>
					</div>
				</div>
			</div>

		</div>
		<div class="wheel-object" style="--color: #f00; --rotation: rotate(0deg);">
			<div class="color-wheel">
				<div class="color-shape triangle"> <!-- triangle rectangle -->
					<div class="color-dot"></div>
				</div>
			</div>
		</div>
	</div>
</div>
