<div data-box="paragraph">
	<div class="paragraph-wrapper">
		<div class="field centered">
			<div class="icon icon-justify-left active"></div>
			<div class="icon icon-justify-center"></div>
			<div class="icon icon-justify-right"></div>

			<div class="icon icon-justify-full-left"></div>
			<div class="icon icon-justify-full-center"></div>
			<div class="icon icon-justify-full-right"></div>

			<div class="icon icon-justify-full"></div>
		</div>

		<div class="divider"></div>

		<div class="field">
			<div class="option input">
				<span class="label">
					<div class="icon icon-indent-left"></div>
				</span>
				<span class="value">
					<input type="text" value="0px">
				</span>
			</div>
			<div class="option input">
				<span class="label">
					<div class="icon icon-indent-right"></div>
				</span>
				<span class="value">
					<input type="text" value="0px">
				</span>
			</div>
		</div>
		<div class="field">
			<div class="option input">
				<span class="label">
					<div class="icon icon-indent-first-line"></div>
				</span>
				<span class="value">
					<input type="text" value="0px">
				</span>
			</div>
			<div class="empty"></div>
		</div>

		<div class="divider"></div>

		<div class="field">
			<div class="option input">
				<span class="label">
					<div class="icon icon-padding-top"></div>
				</span>
				<span class="value">
					<input type="text" value="0px">
				</span>
			</div>
			<div class="option input">
				<span class="label">
					<div class="icon icon-padding-bottom"></div>
				</span>
				<span class="value">
					<input type="text" value="0px">
				</span>
			</div>
		</div>

		<div class="divider"></div>

		<div class="field">
			<div class="option check">
				<span class="value">
					<input type="checkbox" id="hyphenate" checked>
					<i></i>
				</span>
				<label class="label" for="hyphenate">Hyphenate</label>
			</div>
		</div>
	</div>
</div>