<div data-box="character">
	<div class="character-wrapper">
		<div class="field">
			<div class="option">
				<span class="value">Arial</span>
			</div>
			<div class="option">
				<span class="value">Bold</span>
			</div>
		</div>

		<div class="divider"></div>

		<div class="field">
			<div class="option">
				<span class="label">
					<div class="icon icon-font-size"></div>
				</span>
				<span class="value">21px</span>
			</div>
			<div class="option">
				<span class="label">
					<div class="icon icon-line-height"></div>
				</span>
				<span class="value">11px</span>
			</div>
		</div>
		<div class="field">
			<div class="option">
				<span class="label">
					<div class="icon icon-font-kerning"></div>
				</span>
				<span class="value">Metrics</span>
			</div>
			<div class="option">
				<span class="label">
					<div class="icon icon-font-tracking"></div>
				</span>
				<span class="value">50</span>
			</div>
		</div>

		<div class="divider"></div>

		<div class="field">
			<div class="option input">
				<span class="label">
					<div class="icon icon-scale-vert"></div>
				</span>
				<span class="value">
					<input type="text" value="100%">
				</span>
			</div>
			<div class="option input">
				<span class="label">
					<div class="icon icon-scale-hori"></div>
				</span>
				<span class="value">
					<input type="text" value="100%">
				</span>
			</div>
		</div>

		<div class="field">
			<div class="option input">
				<span class="label">
					<div class="icon icon-baseline-shift"></div>
				</span>
				<span class="value">
					<input type="text" value="0px">
				</span>
			</div>
			<div class="option preset">
				<span class="label">
					<div class="icon icon-color-preset"></div>
				</span>
				<span class="value" style="background: #f90;"></span>
			</div>
		</div>

		<div class="divider"></div>

		<div class="field centered">
			<div class="icon icon-font-bold"></div>
			<div class="icon icon-font-italic active"></div>
			<div class="icon icon-font-underlined"></div>
			<div class="icon icon-font-strike-through"></div>
			<div class="icon icon-font-super"></div>
			<div class="icon icon-font-sub"></div>
			<div class="icon icon-font-small-caps"></div>
			<div class="icon icon-font-all-caps"></div>
		</div>
	</div>
</div>