<div data-box="channels">
	<div class="box-content-wrapper">
		<div class="box-content-list">
			<!--
			<div class="row" data-channel="rgb" data-click="select-channel">
				<div class="thumbnail"><canvas></canvas></div>
				<div class="name">RGB</div>
				<div class="icon icon-eye-on" data-click="toggle-visibility"></div>
			</div>
					
			<div class="row" data-channel="red" data-click="select-channel">
				<div class="thumbnail channel-red"><canvas></canvas></div>
				<div class="name">Red</div>
				<div class="icon icon-eye-on" data-click="toggle-visibility"></div>
			</div>
					
			<div class="row" data-channel="green" data-click="select-channel">
				<div class="thumbnail channel-green"><canvas></canvas></div>
				<div class="name">Green</div>
				<div class="icon icon-eye-on" data-click="toggle-visibility"></div>
			</div>
					
			<div class="row" data-channel="blue" data-click="select-channel">
				<div class="thumbnail channel-blue"><canvas></canvas></div>
				<div class="name">Blue</div>
				<div class="icon icon-eye-on" data-click="toggle-visibility"></div>
			</div>
			-->
		</div>
	</div>

	<div class="box-foot right">
		<div class="icon icon-selection-ring"></div>
		<div class="icon disabled icon-layer-mask"></div>
		<div class="icon icon-new"></div>
		<div class="icon disabled icon-trashcan"></div>
	</div>
</div>
