<div data-box="info">
	<div class="info-wrapper">
		
		<div class="field">
			<div class="info-area">
				<div class="icon icon-pipette"></div>
				
				<div class="info-row">
					<span class="label">H:</span>
					<span class="value"><input type="text" name="hslH" value="135°" disabled></span>
				</div>
				<div class="info-row">
					<span class="label">S:</span>
					<span class="value"><input type="text" name="hslS" value="100%" disabled></span>
				</div>
				<div class="info-row">
					<span class="label">L:</span>
					<span class="value"><input type="text" name="hslL" value="50%" disabled></span>
				</div>
			</div>

			<div class="info-area">
				<div class="icon icon-pipette"></div>
				
				<div class="info-row">
					<span class="label">R:</span>
					<span class="value"><input type="text" name="rgbR" value="97" disabled></span>
				</div>
				<div class="info-row">
					<span class="label">G:</span>
					<span class="value"><input type="text" name="rgbG" value="224" disabled></span>
				</div>
				<div class="info-row">
					<span class="label">B:</span>
					<span class="value"><input type="text" name="rgbB" value="117" disabled></span>
				</div>
			</div>
		</div>

		<div class="divider"></div>
		
		<div class="field">
			<div class="info-area">
				<div class="icon icon-cursor_pos"></div>
				
				<div class="info-row">
					<span class="label">X:</span>
					<span class="value"><input type="text" name="mouseX" value="135°" disabled></span>
				</div>
				<div class="info-row">
					<span class="label">Y:</span>
					<span class="value"><input type="text" name="mouseY" value="100%" disabled></span>
				</div>
			</div>

			<div class="info-area">
				<div class="icon icon-selection_dim"></div>
				
				<div class="info-row">
					<span class="label">H:</span>
					<span class="value"><input type="text" name="selHeight" value="135°" disabled></span>
				</div>
				<div class="info-row">
					<span class="label">W:</span>
					<span class="value"><input type="text" name="selWidth" value="100%" disabled></span>
				</div>
			</div>
		</div>

		<div class="divider"></div>

		<div class="field">
			<div class="info-area">
				File: 242 Kb / 1,7 Mb
			</div>
		</div>

	</div>
</div>
