<div data-box="characters">
	<div class="character-wrapper">
		<div class="field">
			<div class="option">
				<span class="value">Arial</span>
			</div>
			<div class="option">
				<span class="value">Bold</span>
			</div>
		</div>

		<div class="divider"></div>

		<div class="field">
			<div class="option">
				<span class="label">
					<div class="icon" style="background-image: url(~/icons/icon-font-size.png);"></div>
				</span>
				<span class="value">21px</span>
			</div>
			<div class="option">
				<span class="label">
					<div class="icon" style="background-image: url(~/icons/icon-line-height.png);"></div>
				</span>
				<span class="value">11px</span>
			</div>
		</div>
		<div class="field">
			<div class="option">
				<span class="label">
					<div class="icon" style="background-image: url(~/icons/icon-font-kerning.png);"></div>
				</span>
				<span class="value">Metrics</span>
			</div>
			<div class="option">
				<span class="label">
					<div class="icon" style="background-image: url(~/icons/icon-font-tracking.png);"></div>
				</span>
				<span class="value">50</span>
			</div>
		</div>

		<div class="divider"></div>

		<div class="field">
			<div class="option input">
				<span class="label">
					<div class="icon" style="background-image: url(~/icons/icon-scale-vert.png);"></div>
				</span>
				<span class="value">
					<input type="text" value="100%">
				</span>
			</div>
			<div class="option input">
				<span class="label">
					<div class="icon" style="background-image: url(~/icons/icon-scale-hori.png);"></div>
				</span>
				<span class="value">
					<input type="text" value="100%">
				</span>
			</div>
		</div>

		<div class="field">
			<div class="option input">
				<span class="label">
					<div class="icon" style="background-image: url(~/icons/icon-baseline-shift.png);"></div>
				</span>
				<span class="value">
					<input type="text" value="0px">
				</span>
			</div>
			<div class="option preset">
				<span class="label">
					<div class="icon" style="background-image: url(~/icons/icon-color-preset.png);"></div>
				</span>
				<span class="value" style="background: #f90;"></span>
			</div>
		</div>

		<div class="divider"></div>

		<div class="field centered">
			<div class="icon" style="background-image: url(~/icons/icon-font-bold.png);"></div>
			<div class="icon active" style="background-image: url(~/icons/icon-font-italic.png);"></div>
			<div class="icon" style="background-image: url(~/icons/icon-font-underlined.png);"></div>
			<div class="icon" style="background-image: url(~/icons/icon-font-strike-through.png);"></div>
			<div class="icon" style="background-image: url(~/icons/icon-font-super.png);"></div>
			<div class="icon" style="background-image: url(~/icons/icon-font-sub.png);"></div>
			<div class="icon" style="background-image: url(~/icons/icon-font-small-caps.png);"></div>
			<div class="icon" style="background-image: url(~/icons/icon-font-all-caps.png);"></div>
		</div>
	</div>
</div>