<div data-box="paragraph">
	<div class="paragraph-wrapper">
		<div class="field centered">
			<div class="icon active" style="background-image: url(~/icons/icon-justify-left.png);"></div>
			<div class="icon" style="background-image: url(~/icons/icon-justify-center.png);"></div>
			<div class="icon" style="background-image: url(~/icons/icon-justify-right.png);"></div>

			<div class="icon" style="background-image: url(~/icons/icon-justify-full-left.png);"></div>
			<div class="icon" style="background-image: url(~/icons/icon-justify-full-center.png);"></div>
			<div class="icon" style="background-image: url(~/icons/icon-justify-full-right.png);"></div>

			<div class="icon" style="background-image: url(~/icons/icon-justify-full.png);"></div>
		</div>

		<div class="divider"></div>

		<div class="field">
			<div class="option input">
				<span class="label">
					<div class="icon" style="background-image: url(~/icons/icon-indent-left.png);"></div>
				</span>
				<span class="value">
					<input type="text" value="0px">
				</span>
			</div>
			<div class="option input">
				<span class="label">
					<div class="icon" style="background-image: url(~/icons/icon-indent-right.png);"></div>
				</span>
				<span class="value">
					<input type="text" value="0px">
				</span>
			</div>
		</div>
		<div class="field">
			<div class="option input">
				<span class="label">
					<div class="icon" style="background-image: url(~/icons/icon-indent-first-line.png);"></div>
				</span>
				<span class="value">
					<input type="text" value="0px">
				</span>
			</div>
			<div class="empty"></div>
		</div>

		<div class="divider"></div>

		<div class="field">
			<div class="option input">
				<span class="label">
					<div class="icon" style="background-image: url(~/icons/icon-padding-top.png);"></div>
				</span>
				<span class="value">
					<input type="text" value="0px">
				</span>
			</div>
			<div class="option input">
				<span class="label">
					<div class="icon" style="background-image: url(~/icons/icon-padding-bottom.png);"></div>
				</span>
				<span class="value">
					<input type="text" value="0px">
				</span>
			</div>
		</div>

		<div class="divider"></div>

		<div class="field">
			<div class="option check">
				<span class="value">
					<input type="checkbox" id="hyphenate" checked>
					<i></i>
				</span>
				<label class="label" for="hyphenate">Hyphenate</label>
			</div>
		</div>
	</div>
</div>