<content>
	<div class="tools-bar">
		<div class="tool" style="background-image: url(~/icons/tool-move.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-marquee-rect.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-wand.png);"></div>
		<div class="tool active" style="background-image: url(~/icons/tool-brush.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-pipette.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-pen.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-pencil.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-eraser.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-droplet.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-character.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-crop.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-shape-rect.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-pointer.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-other-tools.png);"></div>
	</div>
	<div class="tools-options-bar">
		<div class="tool active" style="background-image: url(~/icons/tool-brush.png);"></div>
	</div>
	<div class="workspace">
		<div class="ruler-top"></div>
		<div class="ruler-left"></div>
		<div class="status-bar"></div>
		<div class="canvas"></div>
		<div class="sidebar-wrapper"></div>
	</div>
</content>
