<content>
	<div class="tools-bar" data-click="select-tool">
		<div class="divider"></div>
		<div class="tool" data-options="marquee" style="background-image: url(~/icons/tool-marquee-rect.png);"></div>
		<div class="tool" data-options="move" style="background-image: url(~/icons/tool-move.png);"></div>
		<div class="tool" data-options="lasso" style="background-image: url(~/icons/tool-lasso.png);"></div>
		<div class="tool" data-options="wand" style="background-image: url(~/icons/tool-wand.png);"></div>
		<div class="tool active" data-options="brush" style="background-image: url(~/icons/tool-brush.png);"></div>
		<div class="tool" data-options="pipette" style="background-image: url(~/icons/tool-pipette.png);"></div>
		<div class="divider"></div>
		<div class="tool" style="background-image: url(~/icons/tool-pen.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-pencil.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-eraser.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-droplet.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-character.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-crop.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-shape-rect.png);"></div>
		<div class="divider"></div>
		<div class="tool" style="background-image: url(~/icons/icon-quick-mask.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-pointer.png);"></div>
		<div class="tool" style="background-image: url(~/icons/tool-other-tools.png);"></div>
		<div class="divider"></div>
	</div>
	<div class="tools-options-bar">
		@store "tool-options/marquee.htm"
		@store "tool-options/move.htm"
		@store "tool-options/lasso.htm"
		@store "tool-options/brush.htm"
		@store "tool-options/wand.htm"
		@import "tool-options/pipette.htm"
	</div>
	<div class="workspace" data-context="workspace">
		<div class="ruler-top"><span>351</span></div>
		<div class="ruler-left"><span>285</span></div>
		<div class="status-bar">
			<div class="file">
				sample-1.psd
				<div class="close"></div>
			</div>
			<div class="option">
				<span class="label">Zoom</span>
				<span class="value">100%</span>
			</div>
		</div>

		<div class="canvas"></div>
		
		<div class="sidebar-wrapper">
			<div class="sidebar-box">
				<div class="box-head" data-click="box-head-tab">
					<div data-content="boxes/box-navigator.htm" class="active">Navigator</div>
					<div data-content="boxes/box-color.htm">Color</div>
					<div data-content="boxes/box-info.htm">Info</div>
				</div>
				<div class="box-body">
					<!-- content goes here -->
					@import "boxes/box-navigator.htm"
					@store "boxes/box-color.htm"
					@store "boxes/box-info.htm"
				</div>
			</div>

			<div class="sidebar-box">
				<div class="box-head" data-click="box-head-tab">
					<div data-content="boxes/box-character.htm" class="active">Character</div>
					<div data-content="boxes/box-swatches.htm">Swatches</div>
					<div data-content="boxes/box-paragraph.htm">Paragraph</div>
				</div>
				<div class="box-body">
					<!-- content goes here -->
					@import "boxes/box-character.htm"
					@store "boxes/box-swatches.htm"
					@store "boxes/box-paragraph.htm"
				</div>
			</div>

			<div class="sidebar-box">
				<div class="box-head">
					<div class="active">Layers</div>
					<div>Channels</div>
					<div>Paths</div>
				</div>
				<div class="box-body">
					<!-- content goes here -->
					@import "boxes/box-layers.htm"
				</div>
			</div>
		</div>
	</div>
</content>
