
<div class="dialog-box" data-ui="dlgGaussianBlur">
	<div class="dlg-content">
		<div class="fields">
			<h2>Gaussian Blur</h2>
			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Radius</span>
					<span class="value"><input type="text" name="blur-radius" value="3px"></span>
				</div>
				<div class="knob" data-value="68"></div>
			</div>
		</div>
		<div class="buttons">
			<div class="button">OK</div>
			<div class="button disabled">Reset</div>
		</div>
	</div>
</div>


<div class="dialog-box" data-ui="dlgSharpen">
	<div class="dlg-content">
		<div class="fields">
			<h2>Sharpen</h2>
			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Amount</span>
					<span class="value"><input type="text" name="sharpen-amount" value="150%"></span>
				</div>
				<div class="knob" data-value="68"></div>
			</div>
			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Radius</span>
					<span class="value"><input type="text" name="sharpen-radius" value="3px"></span>
				</div>
				<div class="knob" data-value="68"></div>
			</div>
		</div>
		<div class="buttons">
			<div class="button">OK</div>
			<div class="button disabled">Reset</div>
		</div>
	</div>
</div>


<div class="dialog-box" data-ui="dlgColors">
	<div class="dlg-content">
		
		<div class="color-box">
			<div class="cursor"></div>
		</div>

		<div class="hue-column">
			<div class="cursor"></div>
		</div>

		<div class="fields">

			<div class="field-row">
				<div class="swatches">
					<div class="new-color"></div>
					<div class="current-color"></div>
				</div>

				<div class="buttons">
					<div class="button">OK</div>
					<div class="button">Close</div>
				</div>
			</div>

			<div class="field-row">
				<div class="fields-rgb">
					<div class="field">
						<div class="option input">
							<span class="label">R</span>
							<span class="value"><input type="text" name="color-rgb-red" value="127"></span>
						</div>
					</div>
					<div class="field">
						<div class="option input">
							<span class="label">G</span>
							<span class="value"><input type="text" name="color-rgb-green" value="10"></span>
						</div>
					</div>
					<div class="field">
						<div class="option input">
							<span class="label">B</span>
							<span class="value"><input type="text" name="color-rgb-blue" value="231"></span>
						</div>
					</div>
				</div>
				
				<div class="fields-hsl">
					<div class="field">
						<div class="option input">
							<span class="label">H</span>
							<span class="value"><input type="text" name="color-hsl-hue" value="0°"></span>
						</div>
					</div>
					<div class="field">
						<div class="option input">
							<span class="label">S</span>
							<span class="value"><input type="text" name="color-hsl-saturation" value="100%"></span>
						</div>
					</div>
					<div class="field">
						<div class="option input">
							<span class="label">L</span>
							<span class="value"><input type="text" name="color-hsl-lightness" value="100%"></span>
						</div>
					</div>
				</div>
			</div>

			<hr/>

			<div class="field-row">
				<div class="field-opacity">
					<div class="option input">
						<span class="label">Opacity</span>
						<span class="value"><input type="text" name="color-opacity" value="100%"></span>
					</div>
				</div>
				<div class="knob" data-value="68"></div>
			</div>

			<hr/>

			<div class="field-row">
				<div class="field-hex">
					<div class="option input">
						<span class="label">Hex</span>
						<span class="value">
							<span class="prefix">#</span>
							<input type="text" name="color-hex" value="FF0000">
						</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
