
<div class="dialog-box" data-dlg="dlgGaussianBlur">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Gaussian Blur
			</h2>
			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Radius</span>
					<span class="value"><input type="text" name="radius" value="0px" data-min="0" data-max="50" data-default="0" data-suffix="px"></span>
				</div>
				<div class="knob" data-change="set-radius"></div>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-reset">Reset</div>
			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</div>
	</div>
</div>


<div class="dialog-box" data-dlg="dlgMosaic">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Mosaic
			</h2>
			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Cell Size</span>
					<span class="value"><input type="text" name="size" value="12" data-min="2" data-max="100" data-default="12"></span>
				</div>
				<div class="knob" data-change="set-size"></div>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-reset">Reset</div>
			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</div>
	</div>
</div>


<div class="dialog-box" data-dlg="dlgPixelator">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Pixelator
			</h2>
			
			<div class="layers">
				<div class="list-head">
					<div class="row">
						<div>Shape</div>
						<div>Spacing</div>
						<div>Size</div>
						<div>Offset</div>
						<div>Alpha</div>
					</div>
				</div>
				<div class="list-body">
					<div class="row">
						<div>
							<div class="shape-options">
								<i class="icon-shape-square active"></i>
								<i class="icon-shape-diamond"></i>
								<i class="icon-shape-disc"></i>
							</div>
						</div>
						<div>12px</div>
						<div>14px</div>
						<div>4px</div>
						<div>
							<i class="icon-bars" style="--value: 50%;"></i>
							<i class="icon-eye-on"></i>
							<i class="icon-trashcan"></i>
						</div>
					</div>

					<div class="row">
						<div>
							<div class="shape-options">
								<i class="icon-shape-square"></i>
								<i class="icon-shape-diamond"></i>
								<i class="icon-shape-disc active"></i>
							</div>
						</div>
						<div>24px</div>
						<div>12px</div>
						<div>14px</div>
						<div>
							<i class="icon-bars" style="--value: 75%;"></i>
							<i class="icon-eye-off"></i>
							<i class="icon-trashcan"></i>
						</div>
					</div>

					<div class="row">
						<div>
							<div class="shape-options">
								<i class="icon-shape-square"></i>
								<i class="icon-shape-diamond active"></i>
								<i class="icon-shape-disc"></i>
							</div>
						</div>
						<div>8px</div>
						<div>7px</div>
						<div>6px</div>
						<div>
							<i class="icon-bars" style="--value: 37%;"></i>
							<i class="icon-eye-on"></i>
							<i class="icon-trashcan"></i>
						</div>
					</div>

					<!-- <div class="row">
						<div>
							<i class="icon-add"></i>
							Add Layer
						</div>
					</div> -->
				</div>
			</div>

			<!-- <div class="field-row has-knob">
				<div class="option input">
					<span class="label">Radius</span>
					<span class="value"><input type="text" name="radius" value="3px" data-min="0" data-max="20" data-default="3" data-suffix="px"></span>
				</div>
				<div class="knob" data-change="set-radius"></div>
			</div> -->
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-reset">Reset</div>
			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</div>
	</div>
</div>


<div class="dialog-box" data-dlg="dlgThreshold">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Threshold
			</h2>
			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Threshold</span>
					<span class="value"><input type="text" name="amount" value="127" data-min="1" data-max="255" data-default="127"></span>
				</div>
				<div class="knob" data-change="set-amount"></div>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-reset">Reset</div>
			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</div>
	</div>
</div>


<div class="dialog-box" data-dlg="dlgBrightnessContrast">
	<div class="dlg-content">
		<div class="fields">
			<h2>
				<i class="icon-dlg-close" data-click="dlg-close"></i>
				Brightness / Contrast
			</h2>
			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Brightness</span>
					<span class="value"><input type="text" name="brightness" value="0" data-min="-150" data-max="150" data-default="0"></span>
				</div>
				<div class="pan-knob" data-change="set-brightness"></div>
			</div>
			<div class="field-row has-knob">
				<div class="option input">
					<span class="label">Contrast</span>
					<span class="value"><input type="text" name="contrast" value="0" data-min="-100" data-max="100" data-default="0"></span>
				</div>
				<div class="pan-knob" data-change="set-contrast"></div>
			</div>
		</div>
		<div class="buttons">
			<div class="button" data-click="dlg-ok">OK</div>
			<div class="button" data-click="dlg-reset">Reset</div>
			<div class="toggler" data-value="on" data-click="dlg-preview">
				<span>Preview</span>
			</div>
		</div>
	</div>
</div>


<div class="dialog-box" data-dlg="dlgColors">
	<div class="dlg-content">
		
		<div class="color-box">
			<div class="cursor"></div>
		</div>

		<div class="hue-bar">
			<div class="cursor"></div>
		</div>

		<div class="fields">

			<div class="field-row">
				<div class="swatches">
					<div class="new-color"></div>
					<div class="current-color"></div>
				</div>

				<div class="buttons">
					<div class="button" data-click="dlg-ok">OK</div>
					<div class="button" data-click="dlg-close">Close</div>
				</div>
			</div>

			<div class="field-row">
				<div class="fields-rgb">
					<div class="field">
						<div class="option input">
							<span class="label">R</span>
							<span class="value"><input type="text" name="color-rgb-red" disabled value="255"></span>
						</div>
					</div>
					<div class="field">
						<div class="option input">
							<span class="label">G</span>
							<span class="value"><input type="text" name="color-rgb-green" disabled value="255"></span>
						</div>
					</div>
					<div class="field">
						<div class="option input">
							<span class="label">B</span>
							<span class="value"><input type="text" name="color-rgb-blue" disabled value="255"></span>
						</div>
					</div>
				</div>
				
				<div class="fields-hsl">
					<div class="field">
						<div class="option input">
							<span class="label">H</span>
							<span class="value"><input type="text" name="color-hsl-hue" disabled value="0°"></span>
						</div>
					</div>
					<div class="field">
						<div class="option input">
							<span class="label">S</span>
							<span class="value"><input type="text" name="color-hsl-saturation" disabled value="0%"></span>
						</div>
					</div>
					<div class="field">
						<div class="option input">
							<span class="label">L</span>
							<span class="value"><input type="text" name="color-hsl-lightness" disabled value="100%"></span>
						</div>
					</div>
				</div>
			</div>

			<hr/>

			<div class="field-row has-knob">
				<div class="field-opacity">
					<div class="option input">
						<span class="label">Opacity</span>
						<span class="value"><input type="text" name="color-opacity" disabled value="100%" data-min="0" data-max="100" data-suffix="%"></span>
					</div>
				</div>
				<div class="knob" data-change="set-color-opacity"></div>
			</div>

			<hr/>

			<div class="field-row">
				<div class="field-hex">
					<div class="option input">
						<span class="label">Hex</span>
						<span class="value">
							<span class="prefix">#</span>
							<input type="text" name="color-hex" disabled value="ffffff">
						</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
