
background: transparent;

content {
	background: #2f3437;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	.tools-bar {
		background: #3e494b;
		position: relative;
		z-index: 2;
		font-size: 0;
		padding: 0 7px 0 44px;
		white-space: nowrap;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.05),
					inset 0 -1px 0 rgba(0,0,0,0.05);

		.divider {
			background: rgba(0,0,0,0.2);
			position: relative;
			display: inline-block;
			width: 1px;
			height: 100%;
			margin: 0 5px;
		}

		> div {
			display: inline-block;
			vertical-align: middle;
		}

		.tool.active:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: -1px;
			border-top: 1px solid lighten(#596466, 3%);
			border-bottom: 1px solid #596466;
		}
	}

	.tools-options-bar {
		background: #596466;
		position: relative;
		font-size: 0;
		padding: 1px 7px 2px;
		white-space: nowrap;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.05),
					inset 0 -1px 0 rgba(0,0,0,0.05);

		.divider {
			background: rgba(0,0,0,0.2);
			position: relative;
			width: 1px;
			height: 23px;
			margin: 6px 5px;
		}

		> div {
			display: inline-block;
			vertical-align: middle;
		}
	}
	
	.tool {
		position: relative;
		background-size: 0px;
		width: 34px;
		height: 35px;
		opacity: 0.5;
		margin-right: 3px;
		transition: opacity 100ms ease-in-out;

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			background-image: inherit;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			filter: invert() drop-shadow(0 1px 0 #00000050);
			width: 17px;
			height: 17px;
		}

		&.active {
			background-color: #596466;
			opacity: 1;
		}

		&:hover:not(.active) {
			opacity: 0.85;
		}
	}

	.option {
		color: #cdd;
		margin-right: 13px;
		padding-left: 9px;

		.label {
			font-size: 11px;
			margin-right: 7px;
			text-transform: uppercase;
			text-shadow: 0 1px 0 #353d3f;
		}

		.value {
			position: relative;
			font-size: 11px;
			background: #353d3f;
			text-shadow: 0 1px 0 #122;
			padding: 3px 31px 4px 9px;
			border-radius: 21px;

			&:before {
				content: "";
				background: #596466;
				position: absolute;
				top: 1px;
				bottom: 1px;
				right: 1px;
				width: 19px;
				border-radius: 0 21px 21px 0;
			}

			&:after {
				content: "";
				background: url(~/icons/icon-arrow.png) 50% 50% no-repeat;
				position: absolute;
				top: 7px;
				right: 8px;
				width: 7px;
				height: 7px;
				filter: drop-shadow(0 1px 0 #00000070);
			}
		}
	}

	.workspace {
		background: #2f3437;
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.ruler-top {
			background: #24292c;
			position: absolute;
			left: 15px;
			right: 260px;
			top: 0;
			height: 15px;
			z-index: 2;
			color: #677;
			font-size: 9px;
			border-left: 1px dotted #3e494bd0;

			> span {
				position: absolute;
				top: 3px;
				left: 150px;
			}
			&:before {
				content: "";
				background: #24292c;
				position: absolute;
				top: 0;
				left: -16px;
				width: 15px;
				height: 15px;
			}
		}

		.ruler-left {
			background: #24292c;
			position: absolute;
			top: 15px;
			bottom: 19px;
			left: 0;
			width: 15px;
			z-index: 2;
			color: #677;
			font-size: 9px;
			border-top: 1px dotted #3e494bd0;

			> span {
				position: absolute;
				top: 150px;
				left: -1px;
				transform: rotate(-90deg);
			}
		}

		.canvas {
			position: absolute;
			top: 50%;
			left: 50%;
			// width: 1000px;
			// height: 610px;
				width: 600px;
				height: 366px;
			transform: translateX(-50%) translateY(-50%);
			background: url(~/dev/sample-1.jpg) 50% 50% no-repeat;
			border: 1px solid rgba(0,0,0,.3);
			box-shadow: 0 3px 29px rgba(0,0,0,.3);
			background-size: cover;
			margin-left: -120px;
			z-index: 1;
			//filter: blur(8px);
		}

		.status-bar {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 24px;
			z-index: 2;
			font-size: 0;
			color: #dee;
			white-space: nowrap;
			text-transform: uppercase;
			text-shadow: 0 1px 0 #00000050;

			> div {
				display: inline-block;
				font-size: 11px;
				padding: 6px 7px;
				height: 100%;
			}

			.file {
				background: #596466;
				min-width: 150px;
				text-align: center;
			}

			.option {
				background: #3e494bd0;
				padding-left: 7px;
				padding-right: 2px;
				border-radius: 0 11px 11px 0;
			}
		}

		.sidebar-wrapper {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 260px;
			background-color: #3e494b;
			//background-color: rgba(55,65,67,.25);
			//backdrop-filter: blur(20px);
			z-index: 2;
			display: flex;
			flex-direction: column;
		}

		.sidebar-box {
			position: relative;
			display: flex;
			flex-direction: column;
			border-top: 1px solid #24292c;

			&:nth-child(2) .box-body {
				//min-height: 120px;
			}

			&:last-child {
				flex: 1;
			}

			.box-head {
				background-color: #2f343750;
				border-bottom: 1px solid #2f3437;
				font-size: 0;

				> div {
					display: inline-block;
					text-transform: uppercase;
					color: #abb;
					font-size: 11px;
					padding: 9px;
					border-right: 1px solid #2f3437;
					text-shadow: 0 1px 0 #00000050;

					&.active {
						background: #596466;
						color: #dee;
					}
				}
			}
			.box-body {
				min-height: 140px;
				//background: #596466;
				position: relative;
				flex: 1;

				.thumb-wrapper {
					background: url(~/dev/sample-1.jpg) 50% 50% no-repeat;
					background-size: cover;
					position: absolute;
					top: 50%;
					left: 50%;
					width: 190px;
					height: 120px;
					transform: translateX(-50%) translateY(-50%);
					border: 1px solid #222;

					.view-rect {
						position: absolute;
						top: 7px;
						left: 13px;
						width: 140px;
						height: 88px;
						border: 2px solid #e22;
					}
				}
			}
			.box-foot {
				//background: rgba(0,0,0,0.1);
				height: 23px;
				padding: 3px 3px;
				border-top: 1px solid #2f343790;
				font-size: 0;
				display: flex;

				&.right {
					justify-content: flex-end;
				}

				> div {
					display: inline-block;
					vertical-align: middle;
					color: #abb;
					font-size: 11px;
					text-shadow: 0 1px 0 #00000050;
				}

				.value {
					background: #24292c;
					padding: 2px 1px 2px 0;
					border-radius: 13px;
					margin-right: 5px;
					width: 53px;
					text-align: center;
					user-select: none;
				}

				.icon {
					position: relative;
					background-size: 0px;
					width: 21px;
					height: 17px;
					margin: 0 2px;

					&.mini:after {
						top: 3px;
						left: 3px;
						width: 11px;
						height: 11px;
						margin: 0;
					}

					&.maxi:after {
						top: 0;
						left: 0;
						width: 17px;
						height: 17px;
						margin: 0;
					}

					&:after {
						content: "";
						position: absolute;
						top: 1px;
						left: 3px;
						opacity: 0.5;
						background-image: inherit;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						filter: invert() drop-shadow(0 1px 0 #00000050);
						width: 15px;
						height: 15px;
					}
				}

				.zoom-slider {
					display: flex;
					flex: 1;
					padding: 0 11px 0 3px;

					.icon.mini {
						top: 1px;
					}

					input {
						display: inline-block;
						vertical-align: middle;
						margin: 0 7px;
						height: 16px;

						&::-webkit-slider-thumb {
							background: #9aa;
							box-shadow: 0 0 0;
							height: 12px;
							width: 12px;
							margin-top: -5px;
						}
						&::-webkit-slider-runnable-track {
							background: #596466;
							height: 2px;
						}
					}
				}
			}
		}
	}
}
