
@import (css) url("https://fonts.googleapis.com/css?family=Lato&display=swap");

@backgrop-blur: 21px;
@ws-image: url(/cdn/img/bg/nature/rose.jpg) 50% 50% no-repeat;
/*
	barley-field
	lotus
	rose
*/

.win-caption-bar_ {
	height: unset;
}

.win-caption-title_ {
	position: absolute;
	left: 660px;
	right: 0;
	width: auto;
	height: 29px;
}

.win-caption-buttons_ {
	top: 10px;
	left: 10px;

	btn:nth-child(1) { left: 0; }
	btn:nth-child(2) { left: 20px; }
	btn:nth-child(3) { left: 40px; }
}

.win-body_ {
	background: transparent;
	font-family: "Lato", sans-serif;
	line-height: 1.25;
	//z-index: initial;
}

content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	// prevent mouse from triggering mouseover when panning for instance
	&.cover:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 99;
		background: transparent;
	}

	.tools-bar {
		background-color: rgba(#233,.75);
		backdrop-filter: blur(@backgrop-blur);
		position: relative;
		z-index: 3;
		font-size: 0;
		padding: 0 7px 0 67px;
		white-space: nowrap;
		user-select: none;
	//	box-shadow: inset 0 1px 0 rgba(255,255,255,0.05),
	//				inset 0 -1px 0 rgba(0,0,0,0.05);

		.divider {
			background: rgba(#011, .3);
			position: relative;
			display: inline-block;
			width: 1px;
			height: 100%;
			margin: 0 5px;
		}

		> div {
			display: inline-block;
			vertical-align: middle;
		}

		.tool {
			height: 36px;

			&.active {
				background-color: rgba(#cdd,.35);

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: -1px;
					// border-top: 1px solid lighten(#596466, 3%);
					// border-bottom: 1px solid #596466;
				}
			}
		}
	}

	.tools-options-bar {
		background-color: rgba(#566,.75);
		backdrop-filter: blur(@backgrop-blur);
		position: relative;
		z-index: 4;
		font-size: 0;
		padding: 1px 7px;
		height: 36px;
		white-space: nowrap;
	//	box-shadow: inset 0 1px 0 rgba(255,255,255,0.05),
	//				inset 0 -1px 0 rgba(0,0,0,0.05);

		&:hover {
			.option,
			.button,
			.color-sample {
				opacity: 1;
			}
			.tool {
				opacity: 0.85;
			}
		}

		.divider {
			background: rgba(#011, .3);
			position: relative;
			width: 1px;
			height: 23px;
			margin: 6px 7px;
		}

		> div > div {
			display: inline-block;
			vertical-align: middle;

			&.hidden {
				display: none;
			}
		}

		.tool {
			margin-right: 0;
			transition: opacity 80ms ease-in-out;

			&.down {
				opacity: .85;

				&:before {
					content: "";
					margin-top: -1px;
					background: rgba(0,17,17,0.35);
					position: absolute;
					top: 50%;
					left: 50%;
					width: 25px;
					height: 25px;
					border-radius: 2px;
					transform: translateY(-50%) translateX(-50%);
				}
				&:after {
					margin-top: -1px;
				}
			}
		}

		.option {
			margin: -1px 7px 0 0;
			transition: opacity 80ms ease-in-out;

			&.input {
				.label {
					vertical-align: middle;
				}
				.value {
					display: inline-block;
					vertical-align: middle;
					margin-right: 0;
				}
				input[type="text"] {
					background: transparent;
					border: 0;
					padding: 2px 1px;
					width: 37px;
					height: 19px;
					color: inherit;
					font-size: 11px;
				}
			}

			&.preset {
				.label {
					display: inline-block;
					vertical-align: middle;
					padding-top: 0;
				}
				.value {
					position: relative;
					margin-right: 0;
					width: 43px;
					height: 20px;
					vertical-align: middle;
					padding: 0;
					margin: -1px 0;
				}
			}
		}

		.button {
			background: rgba(#fff, .35);
			display: inline-block;
			vertical-align: middle;
			padding: 3px 11px 2px;
			margin-top: -1px;
			margin-right: 7px;
			font-size: 11px;
			color: rgba(#fff, .85);
			text-shadow: 0 1px 0 rgba(#000, .25);
			border: 1px solid rgba(#000, .55);
			border-radius: 25px;
			opacity: 0.75;
		}
	}

	.color-sample {
		//background: rgba(0,0,0,.1);
		position: relative;
		width: 54px;
		height: 21px;
		margin: 0 2px;
		opacity: 0.75;
		transition: opacity 80ms ease-in-out;

		.bg-color,
		.fg-color {
			position: absolute;
			top: 0;
			left: 18px;
			width: 13px;
			height: 13px;
			border: 1px solid rgba(#000, .5);
			z-index: 2;
		}
		.bg-color {
			top: 8px;
			left: 26px;
			z-index: 1;
		}
		.color-reset {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 12px;
			height: 13px;
			background: url(~/icons/icon-black-white.png) 50% 50% no-repeat;
			background-size: cover;
			filter: invert() drop-shadow(0 1px 0 #00000070);
			opacity: 0.4;
		}
		.color-switch {
			position: absolute;
			top: 0;
			right: 0;
			width: 12px;
			height: 13px;
			background: url(~/icons/icon-switch.png) 50% 50% no-repeat;
			background-size: cover;
			filter: invert() drop-shadow(0 1px 0 #00000070);
			opacity: 0.5;
		}
	}
	
	.tool {
		position: relative;
		background-size: 0px;
		width: 34px;
		height: 35px;
		opacity: 0.5;
		margin-right: 3px;
		transition: opacity 80ms ease-in-out;

		&:after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			background-image: inherit;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			filter: invert() drop-shadow(0 1px 0 rgba(#000, .4));
			width: 17px;
			height: 17px;
		}

		&.active {
			opacity: 0.85;
		}

		&:hover:not(.active) {
			opacity: 0.75;
		}
	}

	.icon {
		position: relative;
		background-size: 0px;
		width: 17px;
		height: 17px;
		margin: 0 2px;
		z-index: 2;

		&[style*="icon-color-preset"] {
			&:after {
				opacity: .9;
				filter: none;
			}
		}

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.5;
			background-image: inherit;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			filter: invert() drop-shadow(0 1px 0 rgba(#000, .4));
			width: inherit;
			height: inherit;
			transition: opacity 80ms ease-in-out;
		}

		&.icon-pipette { background-image: url(~/icons/tool-pipette.png); }
		&.icon-pipette { background-image: url(~/icons/tool-pipette.png); }
		&.icon-cursor_pos { background-image: url(~/icons/icon-cursor-pos.png); }
		&.icon-selection_dim { background-image: url(~/icons/icon-selection-dim.png); }
	}

	.option {
		display: flex;
		margin-top: 1px;
		margin-bottom: 1px;
		margin-right: 9px;
		padding-left: 7px;
		opacity: 0.85;
		transition: opacity 80ms ease-in-out;

		&:last-child {
			margin-right: 7px;
		}

		&.input {
			.value {
				margin-right: 21px;
				padding: 0 9px 1px;

				&:before,
				&:after {
					display: none;
				}
			}
		}

		&.check {
			display: inline-block;

			.value {
				position: relative;
				width: 17px;
				height: 17px;
				border-radius: 3px;
				margin-right: 5px;
				padding: 0;
				display: inline-block;
				vertical-align: middle;

				input {
					opacity: 0;
					position: absolute;
					top: 0;
					left: 0;
					width: inherit;
					height: inherit;
					z-index: 2;

					&:checked + i {
						position: absolute;
						top: 4px;
						left: 2px;
						width: 13px;
						height: 7px;
						transform: rotate(-53deg);
						border-left: 3px solid rgba(#eff, .75);
						border-bottom: 3px solid rgba(#eff, .75);
						box-shadow: -1px 1px 0 rgba(#011, .55);
					}
				}

				&:before,
				&:after {
					display: none;
				}
			}
			.label {
				padding-top: 2px;
				padding-bottom: 2px;
				display: inline-block;
				vertical-align: middle;
			}
		}

		&.preset {
			.value {
				margin-right: 21px;
				padding: 0 9px 1px;
				border: 1px solid rgba(#011, .75);

				&:after {
					top: 7px;
					right: 6px;
					width: 6px;
					height: 6px;
					filter: invert() brightness(4) drop-shadow(0 0 1px #000);
				}

				&:before {
					content: "";
					display: block;
					background: unset;
					width: unset;
					height: unset;
					filter: unset;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					box-shadow: inset 0 0 2px #fff;
					border-radius: inherit;
				}
			}
		}

		.label {
			color: rgba(#fff, .75);
			font-size: 10px;
			margin-right: 7px;
			padding-top: 4px;
			text-transform: uppercase;
			text-shadow: 0 1px 0 rgba(#000, .25);
			user-select: none;

			.icon {
				margin-top: -2px;
				margin-right: 0;
			}
		}

		.value {
			position: relative;
			font-size: 11px;
			background: rgba(#000, .3);
			color: rgba(#fff, .85);
			text-shadow: 0 1px 0 #122;
			padding: 4px 31px 3px 9px;
			white-space: nowrap;
			border-radius: 21px;
			display: inline-block;
			flex: 1;

			.prefix {
				display: inline-block;
				position: relative;
				top: 2px;
				left: -5px;
				width: 9px;
				height: 9px;
				text-align: center;
				margin-right: -7px;
				opacity: .5;
			}

			.icon {
				height: 15px;
				width: 45px;
				margin: -1px 0 -1px 3px;
			}

			&:before {
				content: "";
				background: rgba(#fff, .35);
				position: absolute;
				top: 1px;
				bottom: 1px;
				right: 1px;
				width: 19px;
				border-radius: 0 21px 21px 0;
			}

			&:after {
				content: "";
				background: url(~/icons/icon-arrow.png) 50% 50% no-repeat;
				position: absolute;
				top: 7px;
				right: 8px;
				width: 7px;
				height: 7px;
				filter: drop-shadow(0 1px 0 #00000070);
			}
		}
	}

	.cvs-wrapper {
		height: 0;

		&:before {
			content: "";
			background-color: #2f3437;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	
		.canvas {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;

			canvas {

			}
		}
	}

	.workspace {
		position: relative;
		width: 100%;
		height: 100%;
		//pointer-events: none;

		.ruler-top {
			background: rgba(#122, 0.85);
			position: absolute;
			left: 15px;
			right: 276px;
			top: 0;
			height: 15px;
			z-index: 2;
			color: rgba(#9aa, .65);
			font-size: 9px;
			border-left: 1px dotted rgba(#677, .35);
			z-index: 10;

			> span {
				//background: rgba(#fff, .3);
				position: absolute;
				top: 0;
				height: inherit;
				padding-top: 3px;
				margin-left: -5px;

				&.hidden { display: none; }
			}
			&:before {
				content: "";
				background: rgba(#122, 0.85);
				position: absolute;
				top: 0;
				left: -16px;
				width: 15px;
				height: 15px;
			}
		}

		.ruler-left {
			background: rgba(#122, 0.85);
			position: absolute;
			top: 15px;
			bottom: 0;
			left: 0;
			width: 15px;
			z-index: 2;
			color: rgba(#9aa, .65);
			font-size: 9px;
			border-top: 1px dotted rgba(#677, .35);
			z-index: 10;

			> span {
				//background: rgba(#fff, .3);
				position: absolute;
				left: 0;
				height: 15px;
				transform-origin: 0 0;
				transform: rotate(-90deg);
				padding-top: 3px;
				margin-top: -5px;

				&.hidden { display: none; }
			}
		}

		.status-bar {
			position: absolute;
			left: 15px;
			right: 0;
			bottom: 0;
			height: 25px;
			z-index: 2;
			font-size: 0;
			color: rgba(#fff,.85);
			white-space: nowrap;
			//text-transform: uppercase;
			text-shadow: 0 1px 0 rgba(#000, .4);
			z-index: 11;

			> div {
				display: inline-block;
				font-size: 11px;
				padding: 6px 7px 3px;
				height: 100%;
			}

			.file {
				background: rgba(#455,.75);
				backdrop-filter: blur(@backgrop-blur);
				min-width: 150px;
				text-align: center;

				&:hover {
					.close {
						display: block;
					}
				}

				.close {
					background: rgba(#122,.35);
					position: absolute;
					top: 6px;
					right: 3px;
					width: 13px;
					height: 13px;
					border-radius: 50%;
					cursor: pointer;
					display: none;

					&:after {
						content: "";
						position: absolute;
						top: 2px;
						left: 2px;
						background: url(~/icons/icon-cancel.png) 50% 50% no-repeat;
						background-size: cover;
						filter: invert() opacity(.5);
						width: 9px;
						height: 9px;
					}
				}
			}

			.option {
				background: rgba(#344,.65);
				padding-left: 11px;
				padding-right: 2px;
				border-radius: 0 11px 11px 0;
				backdrop-filter: blur(@backgrop-blur);

				.value {
					display: unset;
				}
			}
		}

		.sidebar-wrapper {
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 277px;
			//background-color: #3e494b;
			background-color: rgba(#344,.75);
			backdrop-filter: blur(@backgrop-blur);
			z-index: 12;
			display: flex;
			flex-direction: column;
			border-left: 1px solid rgba(#011, .65);

			input[type="text"] {
				background: transparent;
				border: 0;
				padding: 2px 1px;
				height: 19px;
				color: inherit;
				font-size: 11px;
			}
		}

		.sidebar-box {
			position: relative;
			display: flex;
			flex-direction: column;
			border-top: 2px solid rgba(#011, .65);

			&:nth-child(2) .box-body {
				//min-height: 120px;
			}

			&:first-child {
				border-top-width: 1px;
			}

			&:last-child {
				flex: 1;
			}

			.box-head {
				background-color: rgba(0,0,0,.05);
				font-size: 0;
				user-select: none;

				> div {
					display: inline-block;
					text-transform: uppercase;
					color: rgba(#cdd, .65);
					font-size: 10px;
					padding: 8px 11px 7px;
					border-right: 1px solid rgba(#011, .55);
					text-shadow: 0 1px 0 rgba(#000, .5);

					&.active {
						background: rgba(255,255,255,0.15);
						color: rgba(#eff, .85);
						text-shadow: 0 1px 0 rgba(#000, .35);
					}

					&:hover:not(.active) {
						color: rgba(#bcc, .75);
					}
				}
			}
			.box-tools {
				background: rgba(235,235,235,0.15);
				padding: 6px 0 7px;
				display: flex;

				.option:first-child {
					flex: 1;
				}
			}
			.box-body {
				position: relative;
				flex: 1;

				.divider {
					background: rgba(#011, .35);
					height: 1px;
					margin: 3px 0;
				}

				div[data-box] {
					display: flex;
					flex-direction: column;
					height: 100%;
					border-top: 1px solid rgba(#011, .55);

					&[data-box="layers"] {
						border-top: 0;

						.row {
							padding-left: 5px;
						}
					}

					&[data-box="channels"] {
						.icon.eye {
							opacity: 1;
							visibility: visible;
							margin: 0 13px 0 0;
						}
					}

					&[data-box="paths"] {
						.thumbnail {
							background: #999;
							width: 25px;
							height: 25px;
							border: 1px solid rgba(#000, .65);
						}
						.name {
							padding-top: 5px;
						}
					}

					.box-tools {
						border-bottom: 1px solid rgba(#011, .55);
						height: 37px;
					}

					.box-content-wrapper {
						flex: 1;
						position: relative;

						.box-content-list {
							position: absolute;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;
							overflow-y: auto;
						}
					}
				}

				.navigator-wrapper {
					//background: @ws-image;
					//background-size: cover;
					position: relative;
					margin: 9px auto 5px;
					height: 152px;
					max-width: 260px;
					//border: 1px solid rgba(#011, .65);

					&.hidden {
						.nav-cvs,
						.view-rect {
							display: none;
						}
					}

					> div {
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}

					canvas.nav-cvs {
						// position: absolute;
						// top: 0;
						// left: 0;
						box-shadow: 0 0 0 1px rgba(#011, .65);
					}

					.view-rect {
						//display: none;
						position: absolute;
						top: 0;
						left: 0;
						width: inherit;
						height: inherit;
						background: transparent;
						border: 2px solid #ff4a4a;
						cursor: move;
					}
				}

				.color-wrapper {
					padding: 7px 5px;
					display: flex;

					.configs {
						flex: 1;
						display: flex;
						flex-direction: column;

						> div {
							//background-color: rgba(0,0,0,.15);
							position: relative;
							width: 121%;
							height: 23px;

							&:first-child {
								.field .group:last-child {
									position: absolute;
									top: 3px;
									left: 70px;
								}
							}

							&:nth-child(2) {
								flex: 1;
								width: 100%;
								padding: 23px 0 0;
							}

							&:last-child {
								.field .option.input {
									.label {
										width: 19px;
									}
								}
							}

							&.show-hsl .field-rgb,
							&.show-rgb .field-hsl {
								display: none;
							}
						}

						.field .option.input {
							padding-left: 3px;
							padding-right: 3px;

							.label {
								margin-left: 1px;
								width: 11px;
							}
						}
					}

					.wheel-object {
						width: 173px;
						height: 175px;
						overflow: hidden;

						&.easeTo {
							.color-shape {
								transition: transform var(--speed) ease-out;

								&:before {
									transition: border var(--speed) ease-out;
								}
							}
						}

						.color-dot {
							position: absolute;
							top: 17px; // 7, 172
							left: 82px; // 38, 185
							width: 13px;
							height: 13px;
							z-index: 2;
							border-radius: 50%;
							border: 2px solid #000;
							pointer-events: none;

							&:before {
								content: "";
								position: absolute;
								top: -1px;
								left: -1px;
								right: -1px;
								bottom: -1px;
								border-radius: inherit;
								border: 2px solid rgba(#fff, .75);
							}
						}
					}

					.color-wheel {
						position: relative;
						display: block;
						margin: 5px 0 5px 3px;
						width: 166px;
						height: 166px;
						border-radius: 50%;
						background: url(~/img/sprite.png) 0px 0px no-repeat;
						filter: drop-shadow(0 1px 1px rgba(#000, .3));
						transform-origin: 0% 50%;

						&.color-seek {
							cursor: none;
						}

						.color-shape {
							//background-color: rgba(#fff, .5);
							//overflow: hidden;
							position: absolute;
							pointer-events: none;

							&.triangle {
								top: 50%;
								left: 50%;
								width: 50px;
								height: 50px;
								transform-origin: 50% 50%;
								transform: translateX(-50%) translateY(-50%) var(--rotation);

								&:before {
									content: "";
									position: absolute;
									top: -30px;
									left: -10px;
									width: 0;
									height: 0;
									border-left: 100px solid var(--color);
									border-top: 54px solid transparent;
									border-bottom: 54px solid transparent;
								}

								&:after {
									content: "";
									position: absolute;
									top: -30px;
									left: -10px;
									width: 99px;
									height: 110px;
									background: url(~/img/sprite.png) -380px -28px no-repeat;
									//transform: scale(.99);
								}
							}

							&.rectangle {
								background: var(--color);
								top: 38px;
								left: 38px;
								width: 90px;
								height: 90px;

								&:after {
									content: "";
									position: absolute;
									top: 0;
									left: 0;
									width: inherit;
									height: inherit;
									background: url(~/img/sprite.png) -204px -38px no-repeat;
									border-radius: inherit;
									transform-origin: 50% 50%;
								}
							}
						}
					}
				}

				.info-wrapper {
					height: 189px;
					padding: 3px 0 7px;
					color: rgba(#eff, .75);

					.field:last-child .info-area {
						padding-top: 33px;
						padding-left: 7px;
						color: rgba(#eff, .45);
						font-size: 11px;
					}

					.info-area {
						position: relative;
						padding-left: 29px;
						flex: 1;

						> .icon {
							position: absolute;
							top: 50%;
							left: 5px;
							width: 15px;
							height: 15px;
							transform: translateY(-50%);
						}

						.info-row {
							padding: 2px 0;
							display: flex;

							.label {
								display: inline-block;
								vertical-align: middle;
								padding: 3px 7px 0 0;
								font-size: 11px;
								color: rgba(#eff, .45);
							}
							input[type="text"] {
								height: 17px;
								padding: 0;
								width: 43px;
							}
						}
					}
				}

				.swatches-wrapper {
					font-size: 0;
					padding: 0 0 13px;

					> div {
						display: inline-block;
						width: 15px;
						height: 15px;
						border-right: 1px solid rgba(#011, .85);
						border-bottom: 1px solid rgba(#011, .85);
					}
				}

				.character-wrapper {
					padding: 3px 0 13px;

					.field:first-child {
						.option:nth-child(2) {
							width: 35%;
							flex: none;
						}
					}
				}

				.paragraph-wrapper {
					padding: 3px 0 13px;
				}

				.field {
					display: flex;
					padding: 3px 1px;

					&.centered {
						justify-content: center;
					}

					> .icon {
						margin: 0 5px;
						opacity: .75;
						width: 19px;

						&:hover {
							opacity: .9;
						}

						&:after {
							background-size: 90%;
						}

						&.active {
							opacity: 1;

							&:before {
								content: "";
								background: rgba(#011, .35);
								position: absolute;
								top: -2px;
								left: -2px;
								right: -2px;
								bottom: -2px;
								border-radius: 2px;
							}
						}
					}

					.group {
						white-space: nowrap;
						color: rgba(#bcc, .35);
						font-size: 0;
						height: 20px;

						> div {
							display: inline-block;
							font-size: 11px;
							padding: 3px 3px 2px;
							background-color: rgba(#122, .4);

							&:not(:first-child) {
								margin-left: 1px;
							}

							&:first-child {
								border-radius: 13px 0 0 13px;
								padding-left: 5px;
							}

							&:last-child {
								border-radius: 0 13px 13px 0;
								padding-right: 5px;
							}

							&.active {
								background-color: rgba(#abb, .3);
								color: rgba(#bcc, .85);
								text-shadow: 0 1px 0 rgba(#122, .2);

								.icon:after {
									opacity: 0.75;
								}
							}

							.icon {
								width: 14px;
								height: 14px;
								margin: -1px 0 0;
								
								&:after {
									opacity: 0.5;
								}
							}
						}
					}

					.option {
						flex: 1;

						&.input:last-child,
						&.preset:last-child {
							justify-content: flex-end;

							.label {
								margin-left: 21px;
							}
							.value {
								margin-right: 0;
							}
						}
					}

					.empty {
						flex: 1;
						padding-left: 15px;
					}
				}

				.group {
					position: relative;

					&.expanded {
						> .group {
							> .row:first-child:before { margin: 0 7px; }
							> .row:not(:first-child):before { margin: 0 18px; }

							&.expanded {
								> .group {
									> .row:first-child:before { margin: 0 17px; }
									> .row:not(:first-child):before { margin: 0 28px; }

									&.expanded {
										> .group {
											> .row:first-child:before { margin: 0 27px; }
											> .row:not(:first-child):before { margin: 0 38px; }
										}
									}
								}
							}
						}
					}
				}

				.row {
					position: relative;
					display: flex;
					padding: 8px 29px 6px 11px;
					border-bottom: 1px solid rgba(#011, .35);

					&:before { content: ""; }

					&:hover {
						&:not(.active) {
							.name {
								color: #dee;
							}

							.icon:after {
								opacity: 0.75;
							}
						}
						.icon.eye[style*="eye-on"] {
							opacity: 1;
							visibility: visible;
						}
					}

					&.active {
						background: rgba(#20b4d0, .65);

						.icon:after {
							opacity: .85;
						}

						> div {
							color: rgba(#dee, .75);
							text-shadow: 0 1px 0 rgba(#000, .25);
						}
					}

					> div {
						display: inline-block;
						vertical-align: middle;
						font-size: 12px;
						color: rgba(#dee, .65);
						text-shadow: 0 1px 0 rgba(#000, .25);
						transition: color 80ms ease-in-out;
					}

					.name {
						flex: 1;
						padding: 3px 2px;
					}

					.thumbnail {
						//background-color: #ffffff20;
						background-size: contain;
						background-position: 50% 50%;
						background-repeat: no-repeat;
						width: 21px;
						height: 21px;
						margin: -1px 2px 0 -1px;
						filter: drop-shadow(0 0 1px #000);

						&.channel-red {
							filter: grayscale(1) sepia(1) hue-rotate(90deg);
						}
						&.channel-green {
							filter: grayscale(1) sepia(1) hue-rotate(180deg);
						}
						&.channel-blue {
							filter: grayscale(1) sepia(1) hue-rotate(270deg);
						}
					}

					.icon {
						width: 23px;
						height: 17px;

						&:after {
							left: 3px;
							width: 17px;
							height: 17px;
						}

						&.eye {
							width: 17px;

							&:after {
								top: 1px;
								width: 15px;
								height: 15px;
							}
							&[style*="eye-on"] {
								opacity: 0;
								visibility: hidden;
								transition: opacity 80ms ease-in-out;
							}
						}
					}

					.fx-applied {
						background: rgba(#788, .45);
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						width: 11px;
						cursor: pointer;

						&:before,
						&:after {
							content: "";
							background: url(~/icons/icon-arrow.png) 50% 50% no-repeat;
							position: absolute;
							top: 0;
							bottom: 0;
							left: 2px;
							width: 7px;
							filter: invert() brightness(0);
							opacity: .5;
						}
						&:before {
							background-image: url(~/icons/icon-layer-fx.png);
							left: -15px;
							width: 13px;
							filter: invert() drop-shadow(0 1px 0 rgba(#000, .4));
						}
					}
				}
			}
			.box-foot {
				background: rgba(#000, .15);
				border-top: 1px solid rgba(#011, .45);
				height: 23px;
				padding: 3px 3px;
				font-size: 0;
				display: flex;

				&.right {
					justify-content: flex-end;

					.icon {
						margin: 0 0 0 5px;
					}
				}

				> div {
					display: inline-block;
					vertical-align: middle;
					color: #abb;
					font-size: 11px;
					text-shadow: 0 1px 0 rgba(#000, .5);
				}

				.value {
					background: rgba(#011, .35);
					padding: 2px 1px 2px 0;
					border-radius: 13px;
					margin-right: 5px;
					width: 53px;
					text-align: center;
					user-select: none;
				}

				.icon {
					position: relative;
					background-size: 0px;
					width: 21px;
					height: 17px;
					margin: 0 3px;

					&.mini {
						background-image: url(~/icons/icon-mountain.png);

						&:after {
							top: 3px;
							left: 3px;
							width: 11px;
							height: 11px;
							margin: 0;
						}
					}

					&.maxi {
						background-image: url(~/icons/icon-mountain.png);

						&:after {
							top: 0;
							left: 0;
							width: 17px;
							height: 17px;
							margin: 0;
						}
					}

					&.disabled {
						opacity: 0.35;

						&[style*="selection-ring"] {
							opacity: 0.85;
						}
					}

					&:hover:not(.disabled):after {
						opacity: 1;
					}

					&:after {
						content: "";
						position: absolute;
						top: 1px;
						left: 3px;
						opacity: 0.4;
						background-image: inherit;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: 50% 50%;
						filter: invert() drop-shadow(0 1px 0 #00000050);
						width: 15px;
						height: 15px;
					}
				}

				.zoom-slider {
					display: flex;
					flex: 1;
					padding: 0 11px 0 3px;

					.icon.mini {
						top: 1px;
					}

					input {
						display: inline-block;
						vertical-align: middle;
						margin: 0 7px;
						height: 16px;

						&::-webkit-slider-thumb {
							background: #9aa;
							box-shadow: 0 0 0;
							height: 10px;
							width: 10px;
							margin-top: -4px;
							border: 0;
						}
						&::-webkit-slider-runnable-track {
							background: rgba(#788, .5);
							height: 2px;
							box-shadow: 0 1px 0 rgba(#000, 0.2)
						}
					}
				}
			}
		}
	}
}
