<div data-box="layers">
	<div class="box-tools">
		<div class="option">
			<span class="value">Normal</span>
		</div>
		<div class="option opt-tiny" data-options="knob" data-min="0" data-max="100" data-suffix="%">
			<span class="label">Opacity</span>
			<span class="value">100%</span>
		</div>
	</div>
	<div class="box-tools">
		<span class="legend">Lock</span>
		<span class="options-row">
			<i class="icon icon-transparency"></i>
			<i class="icon icon-pixels"></i>
			<i class="icon icon-position active"></i>
			<i class="icon icon-all"></i>
		</span>
		<div class="option opt-tiny" data-options="knob" data-min="0" data-max="100" data-suffix="%">
			<span class="label">Fill</span>
			<span class="value">100%</span>
		</div>

	</div>
	<div class="box-content-wrapper">
		<div class="box-content-list">
			<!--
			<div class="group">
				<div class="row">
					<div class="icon icon-folder"></div>
					<div class="name">Field</div>
					<div class="icon icon-eye-off" data-click="toggle-visibility"></div>
				</div>
			</div>

			<div class="group expanded">
				<div class="row">
					<div class="icon icon-folder-open"></div>
					<div class="name">Landscape</div>
					<div class="icon icon-eye-on" data-click="toggle-visibility"></div>
				</div>
				
				<div class="row active1">
					<div class="thumbnail"><canvas></canvas></div>
					<div class="name">Flower</div>
					<div class="icon icon-eye-on" data-click="toggle-visibility"></div>
					<div class="fx-applied"></div>
				</div>
			</div>
				
			<div class="row">
				<div class="thumbnail"><canvas></canvas></div>
				<div class="name">Background</div>
				<div class="icon icon-eye-on" data-click="toggle-visibility"></div>
				<div class="fx-applied"></div>
			</div>
			-->
			
			<div class="row">
				<div class="thumbnail"><canvas></canvas></div>
				<div class="name">Background</div>
				<div class="icon icon-eye-on" data-click="toggle-visibility"></div>
			</div>
			
		</div>
	</div>

	<div class="box-foot right">
		<div class="icon icon-layer-link disabled"></div>
		<div class="icon icon-layer-fx disabled"></div>
		<div class="icon icon-layer-mask disabled"></div>
		<div class="icon icon-layer-adjustment disabled"></div>
		<div class="icon icon-folder" data-click="add-layer-folder"></div>
		<div class="icon icon-new" data-click="add-layer"></div>
		<div class="icon icon-trashcan" data-click="remove-layer"></div>
	</div>
</div>
