<div data-box="paths" class="hidden">
	<div class="box-content-wrapper">
		<div class="box-content-list">
			<!--
			<div class="row">
				<div class="thumbnail"><canvas></canvas></div>
				<div class="name">Name of path</div>
			</div>
			-->
		</div>
	</div>

	<div class="box-foot right">
		<div class="icon disabled icon-layer-path-fill"></div>
		<div class="icon disabled icon-layer-path-brush"></div>
		<div class="icon disabled icon-layer-path-from-selection"></div>
		<div class="icon disabled icon-selection-ring"></div>
		<div class="icon disabled icon-layer-mask"></div>
		<div class="icon disabled icon-new"></div>
		<div class="icon disabled icon-trashcan"></div>
	</div>
</div>
