<div class="tool-options-droplet">
	<div class="tool tool-blur down" title="Blur"></div>
	<div class="tool tool-sharpen" title="Sharpen"></div>
	<div class="tool tool-smudge" title="Smudge"></div>

	<div class="divider"></div>

	<div class="tool tool-dodge" title="Dodge"></div>
	<div class="tool tool-burn" title="Burn"></div>
	<div class="tool tool-sponge" title="Sponge"></div>

	<div class="divider"></div>

	<div class="option">
		<span class="value">1px</span>
	</div>

	<div class="option">
		<span class="label">Range</span>
		<span class="value">Midtones</span>
	</div>

	<div class="option">
		<span class="label">Exposure</span>
		<span class="value">50%</span>
	</div>

</div>
