<div class="tool-options-droplet">
	<div class="tool down" title="Blur" style="background-image: url(~/icons/tool-blur.png);"></div>
	<div class="tool" title="Sharpen" style="background-image: url(~/icons/tool-sharpen.png);"></div>
	<div class="tool" title="Smudge" style="background-image: url(~/icons/tool-smudge.png);"></div>

	<div class="divider"></div>

	<div class="tool" title="Dodge" style="background-image: url(~/icons/tool-dodge.png);"></div>
	<div class="tool" title="Burn" style="background-image: url(~/icons/tool-burn.png);"></div>
	<div class="tool" title="Spindge" style="background-image: url(~/icons/tool-sponge.png);"></div>

	<div class="divider"></div>

	<div class="option">
		<span class="value">1px</span>
	</div>

	<div class="option">
		<span class="label">Range</span>
		<span class="value">Midtones</span>
	</div>

	<div class="option">
		<span class="label">Exposure</span>
		<span class="value">50%</span>
	</div>

</div>
