<div class="tool-options-droplet">
	<div class="tool tool-blur down" title="Blur" data-click="select-option" data-ablur="rectangle" data-group="options" data-option="main"></div>
	<div class="tool tool-sharpen" title="Sharpen" data-click="select-option" data-arg="sharpen" data-group="options" data-option="main"></div>
	<div class="tool tool-smudge" title="Smudge" data-click="select-option" data-arg="smudge" data-group="options" data-option="main"></div>

	<div class="divider"></div>

	<div class="tool tool-dodge" title="Dodge" data-click="select-option" data-arg="dodge" data-group="options" data-option="main"></div>
	<div class="tool tool-burn" title="Burn" data-click="select-option" data-arg="burn" data-group="options" data-option="main"></div>
	<div class="tool tool-sponge" title="Sponge" data-click="select-option" data-arg="sponge" data-group="options" data-option="main"></div>

	<div class="divider"></div>

	<div class="option">
		<span class="value">1px</span>
	</div>

	<div class="option">
		<span class="label">Range</span>
		<span class="value">Midtones</span>
	</div>

	<div class="option">
		<span class="label">Exposure</span>
		<span class="value">50%</span>
	</div>

</div>
