<div class="tool-options-brush">
	<div class="color-sample">
		<div class="fg-color" style="background: #000;"></div>
		<div class="bg-color" style="background: #fff;"></div>
		<div class="color-switch"></div>
		<div class="color-reset"></div>
	</div>
	
	<div class="divider"></div>
	
	<div class="tool down" title="Brush Tool" style="background-image: url(~/icons/tool-brush.png);"></div>
	<div class="tool" title="Pencil Tool" style="background-image: url(~/icons/tool-pencil.png);"></div>
	
	<div class="divider"></div>

	<div class="tool" title="" style="background-image: url(~/icons/tool-eraser.png);"></div>
	<div class="tool" title="" style="background-image: url(~/icons/tool-eraser-bg.png);"></div>
	<div class="tool" title="" style="background-image: url(~/icons/tool-eraser-magic.png);"></div>

	<div class="divider"></div>

	<div class="option">
		<span class="value">465</span>
	</div>

	<div class="option">
		<span class="label">Mode</span>
		<span class="value">Normal</span>
	</div>
	<div class="divider"></div>
	<div class="option">
		<span class="label">Opacity</span>
		<span class="value">100%</span>
	</div>
	<div class="option">
		<span class="label">Flow</span>
		<span class="value">100%</span>
	</div>
	<div class="divider"></div>
	<div class="tool" style="background-image: url(~/icons/tool-pressure.png);"></div>
</div>