<div class="tool-options-brush">
	<div class="color-sample">
		<div class="fg-color" style="background: #000;"></div>
		<div class="bg-color" style="background: #fff;"></div>
		<div class="color-switch"></div>
		<div class="color-reset"></div>
	</div>
	
	<div class="divider"></div>
	
	<div class="tool tool-brush down" title="Brush Tool" data-click="select-option" data-arg="brush" data-group="options" data-option="main"></div>
	<div class="tool tool-pencil" title="Pencil Tool" data-click="select-option" data-arg="pencil" data-group="options" data-option="main"></div>
	
	<div class="divider"></div>

	<div class="tool tool-eraser" data-click="select-option" data-arg="eraser" data-group="options" data-option="main"></div>
	<div class="tool tool-eraser-bg" data-click="select-option" data-arg="eraser-bg" data-group="options" data-option="main"></div>
	<div class="tool tool-eraser-magic" data-click="select-option" data-arg="eraser-magic" data-group="options" data-option="main"></div>

	<div class="divider"></div>

	<div class="option opt-medium" data-change="select-preset-tip" data-options="brush-tips" data-match="//TipShapes">
		<span class="value prefix-icon">
			<i class="icon-temp"></i>
			15px
		</span>
	</div>

	<div class="option" data-change="change-mode" data-options="blend-modes" data-match="//BlendModes">
		<span class="label">Blend</span>
		<span class="value">Normal</span>
	</div>

	<div class="divider"></div>

	<div class="option opt-tiny" data-change="change-opacity" data-options="knob" data-min="0" data-max="100" data-suffix="%">
		<span class="label">Opacity</span>
		<span class="value">100%</span>
	</div>

	<div class="option opt-tiny" data-change="change-flow" data-options="knob" data-min="0" data-max="100" data-suffix="%">
		<span class="label">Flow</span>
		<span class="value">100%</span>
	</div>

	<div class="divider"></div>

	<div class="tool tool-pressure"></div>
</div>