<div class="tool-options-character">
	<div class="tool active" title="" style="background-image: url(~/icons/tool-character.png);"></div>
	
	<div class="divider"></div>
	
	<div class="option">
		<span class="value" style="width: 110px;">Arial</span>
	</div>
	<div class="option">
		<span class="value" style="width: 70px;">Bold</span>
	</div>
	<div class="option">
		<span class="value" style="width: 70px;">21px</span>
	</div>

	<div class="divider"></div>

	<div class="tool down" style="background-image: url(~/icons/icon-justify-left.png);"></div>
	<div class="tool" style="background-image: url(~/icons/icon-justify-center.png);"></div>
	<div class="tool" style="background-image: url(~/icons/icon-justify-right.png);"></div>

	<div class="divider"></div>

	<div class="option preset">
		<span class="label">
			<div class="icon" style="background-image: url(~/icons/icon-color-preset.png);"></div>
		</span>
		<span class="value" style="background: #f90;"></span>
	</div>
</div>
