<div class="tool-options-crop">
	<div class="tool tool-crop down" title="Crop"></div>
	<div class="tool tool-perspective" title="Perspective"></div>
	<div class="tool tool-slice" title="Slice"></div>
	<div class="tool tool-slice-select" title="Slice Select"></div>

	<div class="divider"></div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="crop-delete-pixels" checked>
			<i></i>
		</span>
		<label class="label" for="crop-delete-pixels">Delete Cropped Pixels</label>
	</div>
</div>
