<div class="tool-options-crop">
	<div class="tool tool-crop down" title="Crop" data-click="select-option" data-arg="crop" data-group="options" data-option="main"></div>
	<div class="tool tool-perspective" title="Perspective" data-click="select-option" data-arg="perspective" data-group="options" data-option="main"></div>
	<div class="tool tool-slice" title="Slice" data-click="select-option" data-arg="slice" data-group="options" data-option="main"></div>
	<div class="tool tool-slice-select" title="Slice Select" data-click="select-option" data-arg="slice-select" data-group="options" data-option="main"></div>

	<div class="divider"></div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="crop-delete-pixels" checked>
			<i></i>
		</span>
		<label class="label" for="crop-delete-pixels">Delete Cropped Pixels</label>
	</div>
</div>
