<div class="tool-options-eraser">
	<div class="tool down" title="" style="background-image: url(~/icons/tool-eraser.png);"></div>
	<div class="tool" title="" style="background-image: url(~/icons/tool-eraser-bg.png);"></div>
	<div class="tool" title="" style="background-image: url(~/icons/tool-eraser-magic.png);"></div>

	<div class="divider"></div>

	<div class="option">
		<span class="value">1px</span>
	</div>

	<div class="divider"></div>

	<div class="option">
		<span class="label">Mode</span>
		<span class="value">Brush</span>
	</div>

	<div class="option">
		<span class="label">Opacity</span>
		<span class="value">100%</span>
	</div>

	<div class="divider"></div>

	<div class="tool" style="background-image: url(~/icons/tool-pressure.png);"></div>
</div>
