<div class="tool-options-fill">
	<div class="tool tool-gradient down" title="Gradient"></div>
	<div class="tool tool-fill" title="Paint Bucket"></div>

	<div class="divider"></div>

	<div class="option">
		<span class="label">Opacity</span>
		<span class="value">100%</span>
	</div>

	<div class="option input">
		<span class="label">Tolerance:</span>
		<span class="value"><input type="text" value="0"></span>
	</div>

	<div class="divider"></div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="fill-anti-alias" checked>
			<i></i>
		</span>
		<label class="label" for="fill-anti-alias">Anti-alias</label>
	</div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="fill-contigous" checked>
			<i></i>
		</span>
		<label class="label" for="fill-contigous">Contiguous</label>
	</div>
	
</div>
