<div class="tool-options-marquee">
	<div class="tool tool-marquee-rect down" title="Rectangular Marquee Tool" data-click="select-shape" data-arg="rectangle" data-group="shapes"></div>
	<div class="tool tool-marquee-circle" title="Elliptical Marquee Tool" data-click="select-shape" data-arg="elliptic" data-group="shapes"></div>
	<div class="tool tool-wand" title="Magic Wand Tool" data-click="select-shape" data-arg="wand" data-group="shapes" data-group="shapes"></div>
	
	<div class="divider"></div>

	<div class="tool tool-lasso" title="Lasso Tool" data-click="select-shape" data-arg="lasso" data-group="shapes"></div>
	<div class="tool tool-lasso-polygon" title="Polygonal Lasso Tool" data-click="select-shape" data-arg="polygon" data-group="shapes"></div>
	<div class="tool tool-lasso-magnetic" title="Magnetic Lasso Tool" data-click="select-shape" data-arg="magnetic" data-group="shapes"></div>
	
	<div class="divider"></div>
	
	<div class="tool icon-marquee-new down" title="New Selection" data-click="select-filter" data-arg="new" data-group="filters"></div>
	<div class="tool icon-marquee-union" title="Add Selection" data-click="select-filter" data-arg="union" data-group="filters"></div>
	<div class="tool icon-marquee-subtract" title="Subtract Selection" data-click="select-filter" data-arg="subtract" data-group="filters"></div>
	<div class="tool icon-marquee-intersection" title="Intersect Seelction" data-click="select-filter" data-arg="intersection" data-group="filters"></div>
	
	<div class="divider"></div>
	
	<div class="option">
		<span class="label">Feather</span>
		<span class="value">0px</span>
	</div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="marquee-anti-alias">
			<i></i>
		</span>
		<label class="label" for="marquee-anti-alias">Anti-alias</label>
	</div>

	<div class="divider"></div>
	
	<div class="option">
		<span class="label">Style</span>
		<span class="value">Normal</span>
	</div>

	<div class="option input hidden">
		<span class="label">Width:</span>
		<span class="value"><input type="text"></span>
	</div>

	<div class="option input hidden">
		<span class="label">Height:</span>
		<span class="value"><input type="text"></span>
	</div>

	<div class="divider"></div>

	<div class="button">Refine Edge&#8230;</div>
</div>
