<div class="tool-options-marquee">
	<div class="tool active" style="background-image: url(~/icons/tool-marquee-rect.png);"></div>
	<div class="tool" style="background-image: url(~/icons/tool-marquee-circle.png);"></div>
	<div class="divider"></div>
	<div class="tool" style="background-image: url(~/icons/icon-marquee-new.png);"></div>
	<div class="tool down" style="background-image: url(~/icons/icon-marquee-union.png);"></div>
	<div class="tool" style="background-image: url(~/icons/icon-marquee-subtract.png);"></div>
	<div class="tool" style="background-image: url(~/icons/icon-marquee-intersection.png);"></div>
	
	<div class="divider"></div>
	
	<div class="option">
		<span class="label">Feather</span>
		<span class="value">0px</span>
	</div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="marquee-anti-alias">
			<i></i>
		</span>
		<label class="label" for="marquee-anti-alias">Anti-alias</label>
	</div>

	<div class="divider"></div>
	
	<div class="option">
		<span class="label">Style</span>
		<span class="value">Normal</span>
	</div>

	<div class="option input hidden">
		<span class="label">Width:</span>
		<span class="value"><input type="text"></span>
	</div>

	<div class="option input hidden">
		<span class="label">Height:</span>
		<span class="value"><input type="text"></span>
	</div>

	<div class="divider"></div>

	<div class="button">Refine Edge&#8230;</div>
</div>
