<div class="tool-options-move">
	<div class="tool down" style="background-image: url(~/icons/tool-move.png);"></div>
	<div class="tool" style="background-image: url(~/icons/tool-hand.png);"></div>
	
	<div class="divider"></div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="marquee-anti-alias">
			<i></i>
		</span>
		<label class="label" for="marquee-anti-alias">Auto-Select</label>
	</div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="marquee-anti-alias">
			<i></i>
		</span>
		<label class="label" for="marquee-anti-alias">Transform Controls</label>
	</div>

	<div class="divider"></div>

	<div class="tool" style="background-image: url(~/icons/icon-align-top.png);"></div>
	<div class="tool" style="background-image: url(~/icons/icon-align-middle.png);"></div>
	<div class="tool" style="background-image: url(~/icons/icon-align-bottom.png);"></div>

	<div class="divider"></div>

	<div class="tool" style="background-image: url(~/icons/icon-align-left.png);"></div>
	<div class="tool" style="background-image: url(~/icons/icon-align-center.png);"></div>
	<div class="tool" style="background-image: url(~/icons/icon-align-right.png);"></div>
	
	<div class="divider"></div>

	<div class="tool" style="background-image: url(~/icons/icon-horizontal-centers.png);"></div>
	<div class="tool" style="background-image: url(~/icons/icon-vertical-centers.png);"></div>
	
</div>
