<div class="tool-options-move hidden">
	<div class="tool tool-move disabled" data-click="select-option" data-arg="move" data-group="options" data-option="main"></div>
	<div class="tool tool-hand down" data-click="select-option" data-arg="hand" data-group="options" data-option="main"></div>
	
	<div class="divider"></div>

	<div class="option check disabled">
		<span class="value">
			<input type="checkbox" id="marquee-anti-alias">
			<i></i>
		</span>
		<label class="label" for="marquee-anti-alias">Auto-Select</label>
	</div>

	<div class="option check disabled">
		<span class="value">
			<input type="checkbox" id="marquee-transform-controls">
			<i></i>
		</span>
		<label class="label" for="marquee-transform-controls">Transform Controls</label>
	</div>

	<div class="divider"></div>

	<div class="tool icon-align-top disabled"></div>
	<div class="tool icon-align-middle disabled"></div>
	<div class="tool icon-align-bottom disabled"></div>

	<div class="divider"></div>

	<div class="tool icon-align-left disabled"></div>
	<div class="tool icon-align-center disabled"></div>
	<div class="tool icon-align-right disabled"></div>
	
	<div class="divider"></div>

	<div class="tool icon-horizontal-centers disabled"></div>
	<div class="tool icon-vertical-centers disabled"></div>
	
</div>
