<div class="tool-options-pen">
	<div class="tool down" title="" style="background-image: url(~/icons/tool-pen.png);"></div>
	<div class="tool" title="" style="background-image: url(~/icons/tool-pen-plus-anchor.png);"></div>
	<div class="tool" title="" style="background-image: url(~/icons/tool-pen-minus-anchor.png);"></div>
	<div class="tool" title="" style="background-image: url(~/icons/tool-pen-free.png);"></div>
	<div class="tool" title="" style="background-image: url(~/icons/tool-pen-convert.png);"></div>
	
	<div class="divider"></div>
	
	<div class="option">
		<span class="label">Stroke</span>
		<span class="value">1px</span>
	</div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="pen-auto-add-delete" checked>
			<i></i>
		</span>
		<label class="label" for="pen-auto-add-delete">Auto Add / Delete</label>
	</div>
</div>
