<div class="tool-options-pen hidden">
	<div class="tool tool-pen down" title="" data-click="select-option" data-arg="pen" data-group="options" data-option="main"></div>
	<div class="tool tool-pen-plus-anchor" title="" data-click="select-option" data-arg="pen-plus-anchor" data-group="options" data-option="main"></div>
	<div class="tool tool-pen-minus-anchor" title="" data-click="select-option" data-arg="pen-minus-anchor" data-group="options" data-option="main"></div>
	<div class="tool tool-pen-free" title="" data-click="select-option" data-arg="pen-free" data-group="options" data-option="main"></div>
	<div class="tool tool-pen-convert" title="" data-click="select-option" data-arg="pen-convert" data-group="options" data-option="main"></div>
	
	<div class="divider"></div>
	
	<div class="option">
		<span class="label">Stroke</span>
		<span class="value">1px</span>
	</div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="pen-auto-add-delete" checked>
			<i></i>
		</span>
		<label class="label" for="pen-auto-add-delete">Auto Add / Delete</label>
	</div>
</div>
