<div class="tool-options-pipette">
	<div class="tool tool-pipette down" title="Eye Dropper Tool" data-click="select-option" data-arg="pipette" data-group="options" data-option="main"></div>
	<div class="tool tool-ruler" title="Ruler Tool" data-click="select-option" data-arg="ruler" data-group="options" data-option="main"></div>

	<div class="divider"></div>
	
	<div class="option">
		<span class="label">Sample Size</span>
		<span class="value">Point Sample</span>
	</div>
	
	<div class="option">
		<span class="label">Sample</span>
		<span class="value">All Layers</span>
	</div>

	<div class="divider"></div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="pipette-sample-ring" checked>
			<i></i>
		</span>
		<label class="label" for="pipette-sample-ring">Show Sampling Ring</label>
	</div>

</div>
