<div class="tool-options-pipette">
	<div class="tool active" title="Eye Dropper Tool" style="background-image: url(~/icons/tool-pipette.png);"></div>
	<div class="tool" title="Ruler Tool" style="background-image: url(~/icons/tool-ruler.png);"></div>

	<div class="divider"></div>
	
	<div class="option">
		<span class="label">Sample Size</span>
		<span class="value">Point Sample</span>
	</div>
	
	<div class="option">
		<span class="label">Sample</span>
		<span class="value">All Layers</span>
	</div>

	<div class="divider"></div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="pipette-sample-ring" checked>
			<i></i>
		</span>
		<label class="label" for="pipette-sample-ring">Show Sampling Ring</label>
	</div>

</div>
