<div class="tool-options-pointer">
	<div class="tool down" title="" style="background-image: url(~/icons/tool-pointer.png);"></div>
	<div class="tool" title="" style="background-image: url(~/icons/tool-pointer-object.png);"></div>
	
	<div class="divider"></div>

	<div class="option preset">
		<span class="label">Fill</span>
		<span class="value" style="background: #33d;"></span>
	</div>

	<div class="option preset">
		<span class="label">Stroke</span>
		<span class="value" style="background: #d33;"></span>
	</div>
	
	<div class="option">
		<span class="value">1px</span>
	</div>
	
	<div class="option">
		<span class="value">
			<div class="icon" title="" style="background-image: url(~/icons/icon-line-solid.png);"></div>
		</span>
	</div>

	<div class="divider"></div>

	<div class="option input">
		<span class="label">Width:</span>
		<span class="value"><input type="text"></span>
	</div>

	<div class="option input">
		<span class="label">Height:</span>
		<span class="value"><input type="text"></span>
	</div>
</div>
