<div class="tool-options-shape hidden" data-area="shape">
	<div class="tool tool-shape-rect down" title="Rectangle" data-click="select-option" data-arg="rect" data-group="options" data-option="main"></div>
	<div class="tool tool-shape-elliptical" title="Ellipse" data-click="select-option" data-arg="elliptical" data-group="options" data-option="main"></div>
	<div class="tool tool-shape-polygon" title="Parametric Shape" data-click="select-option" data-arg="polygon" data-group="options" data-option="main"></div>
	<div class="tool tool-shape-star" title="Custom Shape" data-click="select-option" data-arg="star" data-group="options" data-option="main"></div>
	<div class="tool tool-shape-line" title="Line" data-click="select-option" data-arg="line" data-group="options" data-option="main"></div>

	<div class="divider"></div>

	<div class="option preset">
		<span class="label">Fill</span>
		<span class="value" style="background: #33d;"></span>
	</div>

	<div class="option preset">
		<span class="label">Stroke</span>
		<span class="value" style="background: #d33;"></span>
	</div>
	
	<div class="option">
		<span class="value">1px</span>
	</div>
	
	<div class="option">
		<span class="value">
			<div class="icon icon-line-solid"></div>
		</span>
	</div>

	<div class="divider"></div>

	<div class="option input">
		<span class="label">Width:</span>
		<span class="value"><input type="text"></span>
	</div>

	<div class="option input">
		<span class="label">Height:</span>
		<span class="value"><input type="text"></span>
	</div>
</div>
