<div class="tool-options-stamp">
	<div class="tool down" title="Stamp Clone" style="background-image: url(~/icons/tool-stamp-clone.png);"></div>
	<div class="tool" title="Stamp Pattern" style="background-image: url(~/icons/tool-stamp-pattern.png);"></div>

	<div class="divider"></div>

	<div class="tool" title="Healing Brush" style="background-image: url(~/icons/tool-healing-brush.png);"></div>
	<div class="tool" title="Spot Healing Brush" style="background-image: url(~/icons/tool-spot-healing-brush.png);"></div>
	<div class="tool" title="Content-Aware Move" style="background-image: url(~/icons/tool-content-move.png);"></div>
	<div class="tool" title="Patch" style="background-image: url(~/icons/tool-patch.png);"></div>
	<div class="tool" title="Red Eye" style="background-image: url(~/icons/tool-red-eye.png);"></div>

</div>
