<div class="tool-options-stamp hidden">
	<div class="tool tool-stamp-clone down" title="Stamp Clone" data-click="select-option" data-arg="stamp-clone" data-group="options" data-option="main"></div>
	<div class="tool tool-stamp-pattern" title="Stamp Pattern" data-click="select-option" data-arg="stamp-pattern" data-group="options" data-option="main"></div>

	<div class="divider"></div>

	<div class="tool tool-healing-brush" title="Healing Brush" data-click="select-option" data-arg="healing-brush" data-group="options" data-option="main"></div>
	<div class="tool tool-spot-healing-brush" title="Spot Healing Brush" data-click="select-option" data-arg="spot-healing-brush" data-group="options" data-option="main"></div>
	<div class="tool tool-content-move" title="Content-Aware Move" data-click="select-option" data-arg="content-move" data-group="options" data-option="main"></div>
	<div class="tool tool-patch" title="Patch" data-click="select-option" data-arg="patch" data-group="options" data-option="main"></div>
	<div class="tool tool-red-eye" title="Red Eye" data-click="select-option" data-arg="red-eye" data-group="options" data-option="main"></div>
</div>
