<div class="tool-options-stamp">
	<div class="tool tool-stamp-clone down" title="Stamp Clone"></div>
	<div class="tool tool-stamp-pattern" title="Stamp Pattern"></div>

	<div class="divider"></div>

	<div class="tool tool-healing-brush" title="Healing Brush"></div>
	<div class="tool tool-spot-healing-brush" title="Spot Healing Brush"></div>
	<div class="tool tool-content-move" title="Content-Aware Move"></div>
	<div class="tool tool-patch" title="Patch"></div>
	<div class="tool tool-red-eye" title="Red Eye"></div>
</div>
