<div class="tool-options-type hidden">
	<div class="tool tool-type-horizontal down" title="" data-click="select-option" data-arg="horizontal" data-group="options" data-option="main"></div>
	<div class="tool tool-type-vertical" title="" data-click="select-option" data-arg="vertical" data-group="options" data-option="main"></div>
	<div class="tool tool-type-horizontal-mask" title="" data-click="select-option" data-arg="horizontal-mask" data-group="options" data-option="main"></div>
	<div class="tool tool-type-vertical-mask" title="" data-click="select-option" data-arg="vertical-mask" data-group="options" data-option="main"></div>
	
	<div class="divider"></div>
	
	<div class="option">
		<span class="value" style="width: 110px;">Arial</span>
	</div>
	<div class="option">
		<span class="value" style="width: 70px;">Bold</span>
	</div>
	<div class="option">
		<span class="value" style="width: 70px;">21px</span>
	</div>

	<div class="divider"></div>

	<div class="tool icon-justify-left down"></div>
	<div class="tool icon-justify-center"></div>
	<div class="tool icon-justify-right"></div>

	<div class="divider"></div>

	<div class="option preset">
		<span class="label">Color</span>
		<span class="value" style="background: #f90;"></span>
	</div>
</div>
