<div class="tool-options-type">
	<div class="tool down" title="" style="background-image: url(~/icons/tool-type-horizontal.png);"></div>
	<div class="tool" title="" style="background-image: url(~/icons/tool-type-vertical.png);"></div>
	<div class="tool" title="" style="background-image: url(~/icons/tool-type-horizontal-mask.png);"></div>
	<div class="tool" title="" style="background-image: url(~/icons/tool-type-vertical-mask.png);"></div>
	
	<div class="divider"></div>
	
	<div class="option">
		<span class="value" style="width: 110px;">Arial</span>
	</div>
	<div class="option">
		<span class="value" style="width: 70px;">Bold</span>
	</div>
	<div class="option">
		<span class="value" style="width: 70px;">21px</span>
	</div>

	<div class="divider"></div>

	<div class="tool down" style="background-image: url(~/icons/icon-justify-left.png);"></div>
	<div class="tool" style="background-image: url(~/icons/icon-justify-center.png);"></div>
	<div class="tool" style="background-image: url(~/icons/icon-justify-right.png);"></div>

	<div class="divider"></div>

	<div class="option preset">
		<span class="label">Color</span>
		<span class="value" style="background: #f90;"></span>
	</div>
</div>
