<div class="tool-options-wand">
	<div class="tool active" title="Magic Wand Tool" style="background-image: url(~/icons/tool-wand.png);"></div>

	<div class="divider"></div>
	
	<div class="tool down" title="New Selection" style="background-image: url(~/icons/icon-marquee-new.png);"></div>
	<div class="tool" title="Add Selection" style="background-image: url(~/icons/icon-marquee-union.png);"></div>
	<div class="tool" title="Subtract Selection" style="background-image: url(~/icons/icon-marquee-subtract.png);"></div>
	<div class="tool" title="Intersect Seelction" style="background-image: url(~/icons/icon-marquee-intersection.png);"></div>
	
	<div class="divider"></div>
	
	<div class="option">
		<span class="label">Sample Size</span>
		<span class="value">Point</span>
	</div>

	<div class="option input">
		<span class="label">Tolerance:</span>
		<span class="value"><input type="text" value="0"></span>
	</div>

	<div class="divider"></div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="marquee-anti-alias">
			<i></i>
		</span>
		<label class="label" for="marquee-anti-alias">Anti-alias</label>
	</div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="marquee-anti-alias">
			<i></i>
		</span>
		<label class="label" for="marquee-anti-alias">Contigous</label>
	</div>
	
	<div class="divider"></div>
	
	<div class="button">Refine Edge&#8230;</div>
</div>
