<div class="tool-options-zoom">
	<div class="tool tool-zoom active" title="Zoom" data-click="select-option" data-arg="zoom" data-group="options" data-option="main"></div>

	<div class="divider"></div>
	
	<div class="tool icon-zoom-plus down" title="Zoom In" data-click="select-option" data-arg="zoom-plus" data-group="options" data-option="main"></div>
	<div class="tool icon-zoom-minus" title="Zoom Out" data-click="select-option" data-arg="zoom-minus" data-group="options" data-option="main"></div>
	
	<div class="divider"></div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="marquee-anti-alias">
			<i></i>
		</span>
		<label class="label" for="marquee-anti-alias">Scrubby Zoom</label>
	</div>

	<div class="divider"></div>

	<div class="button">Actual Pixels</div>
	<div class="button">Fit Area</div>
</div>
