<div class="tool-options-zoom">
	<div class="tool active" title="Zoom" style="background-image: url(~/icons/tool-zoom.png);"></div>

	<div class="divider"></div>
	
	<div class="tool down" title="Zoom In" style="background-image: url(~/icons/icon-zoom-plus.png);"></div>
	<div class="tool" title="Zoom Out" style="background-image: url(~/icons/icon-zoom-minus.png);"></div>
	
	<div class="divider"></div>

	<div class="option check">
		<span class="value">
			<input type="checkbox" id="marquee-anti-alias">
			<i></i>
		</span>
		<label class="label" for="marquee-anti-alias">Scrubby Zoom</label>
	</div>

	<div class="divider"></div>

	<div class="button">Actual Pixels</div>
	<div class="button">Fit Area</div>
</div>
